body{
    width:90vw;
    height:90vh;
    background-color:#fc427b;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    color: white;
    text-align: center;
}

div h3{
    font-size: 20px;
    font-weight:500;
}

div button{
    border: none;
    background-color: #182c61;
    color:white;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

b{
    text-align: center;
    color:#2c3a47;
    padding:5px;
    background-color: #fff;
    border-radius: 50%;
}